edge{
	arrow-shape: arrow;
	arrow-size: 6px;
}

edge.data{
	size: 1px;
}

edge.def{
	size: 1px;
	fill-color: gray;
}

edge.ctrl{
	size: 3px;
}
node.data{
	fill-color: green;
	shape: box;
}

node.phi{
	fill-color: orange;
}

node.comp{
	fill-color: purple;
}

node.lab{
	fill-color: blue;
}

node.ctrl{
	fill-color: gray;
}

node.copy{
	fill-color: red;
}

node.i32{
	size: 25px, 25px;
}

node.entry{
	size: 50px, 50px;
}