edge{
	arrow-shape: arrow;
	arrow-size: 6px;
}
edge.data{
	size: 1px;
}
edge.def{
	size: 1px;
	fill-color: gray;
}
edge.ctrl{
	size: 3px;
}
edge.pattern{
	size: 3px;
}
edge.highlighted{
	fill-color: red;
	shape: blob;
	arrow-size: 12px;
}

edge.selected{
	fill-color: green;
	
}

node{
	size-mode: dyn-size;
	stroke-mode: plain;
	stroke-width: 2px;
	fill-color: rgba(173, 216, 230, 200);
	text-style: bold;
	text-background-mode: rounded-box;
	text-background-color: rgba(173, 216, 230, 200);
}
node.selected{
	fill-color : green;
	text-background-color: green;
	
}
node.hovered{
	stroke-width: 5px;
}
node.highlighted{
	fill-color: red;
}

node.data{
	shape: rounded-box;
}


node.lab{
	shape: box;
}

node.ctrl{
	shape: diamond;
}

node.ctrlFlow{
	stroke-width: 3px;
}

node.noMatch{
	fill-color: magenta;
}

sprite {
	size: 32px;
	size-mode: dyn-size;
}

sprite.noMatch{
	fill-mode: image-scaled;
	fill-image: url('./style/nomatches.png');
}
