edge{
	arrow-shape: arrow;
	arrow-size: 6px;
}
edge.data{
	size: 1px;
}
edge.def{
	size: 1px;
	fill-color: gray;
}
edge.ctrl{
	size: 3px;
}

node{
	size-mode: dyn-size;
	size: 50px, 50px;
	stroke-mode: plain;
	stroke-width: 2px;
	fill-color: rgb(173, 216, 230);
}

node.data{
	/*fill-color: green;*/
	shape: box;
	size: 70px, 50px;
}

node.phi{
	/*fill-color: orange;*/
}

node.comp{
	/*fill-color: purple;*/
	/*text-color: white;*/
}


node.lab{
	/*fill-color: blue;*/
	/*text-color: white;*/
	shape: box;
}

node.ctrl{
	/*fill-color: gray;*/
	shape: diamond;
}

node.ctrlFlow{
	stroke-width: 3px;
}

node.copy{
	/*fill-color: red;*/
	size: 20px, 20px;
}

node.i32{
	size: 40px, 40px;
}

node.entry{
	size: 60px, 60px;
	shape: circle;
	stroke-width: 5px;
}

